<h1>Animal Tracker</h1>
<div class="row">
  <div class="col-sm-4">
    <h1><i class="Animals"></i></h1>
    <h3><a href="/animals">Enter/View an animal</a></h3>
  </div>
  <div class="col-sm-4">
    <h1><i class="Sightings"></i></h1>
    <h3><a href="/sightings">Enter/View sightings</a></h3>
  </div>
</div>
